<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MemberRegistrationSuite">
  <test thread-count="5" name="MemberRegistrationTest">
    <classes>
      <class name="registration.MemberRegistrationTest"/>
    </classes>
  </test> <!-- MemberRegistrationTest -->
</suite> <!-- MemberRegistrationSuite -->
